<form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>Edit Audit Event</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="max-width">
                        <mat-label>Type</mat-label>
                        <mat-select formControlName="type" class="form-control" matNativeControl required>
                            <mat-option value="Application Activity">Application Activity</mat-option>
                            <mat-option value="Audit Log Used">Audit Log Used</mat-option>
                            <mat-option value="Begin Transferring DICOM Instances">Begin Transferring DICOM Instances</mat-option>
                            <mat-option value="DICOM Instances Accessed">DICOM Instances Accessed</mat-option>
                            <mat-option value="DICOM Instances Transferred">DICOM Instances Transferred</mat-option>
                            <mat-option value="DICOM Study Deleted">DICOM Study Deleted</mat-option>
                            <mat-option value="Export">Export</mat-option>
                            <mat-option value="Import">Import</mat-option>
                            <mat-option value="Network Entry">Network Entry</mat-option>
                            <mat-option value="Order Record">Order Record</mat-option>
                            <mat-option value="Patient Record">Patient Record</mat-option>
                            <mat-option value="Procedure Record">Procedure Record</mat-option>
                            <mat-option value="Query">Query</mat-option>
                            <mat-option value="Security Alert">Security Alert</mat-option>
                            <mat-option value="User Authentication">User Authentication</mat-option>
                            <mat-option value="RESTful Operation">RESTful Operation</mat-option>
                            <mat-option value="Access/View Record Lifecycle Event">Access/View Record Lifecycle Event</mat-option>
                            <mat-option value="Add Legal Hold Record Lifecycle Event">Add Legal Hold Record Lifecycle Event</mat-option>
                            <mat-option value="Amend (Update) Record Lifecycle Event">Amend (Update) Record Lifecycle Event</mat-option>
                            <mat-option value="Archive Record Lifecycle Event">Archive Record Lifecycle Event</mat-option>
                            <mat-option value="Attest Record Lifecycle Event">Attest Record Lifecycle Event</mat-option>
                            <mat-option value="Decrypt Record Lifecycle Event">Decrypt Record Lifecycle Event</mat-option>
                            <mat-option value="De-Identify (Anononymize) Record Lifecycle Event">De-Identify (Anononymize) Record Lifecycle Event
                            </mat-option>
                            <mat-option value="Deprecate Record Lifecycle Event">Deprecate Record Lifecycle Event</mat-option>
                            <mat-option value="Destroy/Delete Record Lifecycle Event">Destroy/Delete Record Lifecycle Event</mat-option>
                            <mat-option value="Disclose Record Lifecycle Event">Disclose Record Lifecycle Event</mat-option>
                            <mat-option value="Encrypt Record Lifecycle Event">Encrypt Record Lifecycle Event</mat-option>
                            <mat-option value="Extract Record Lifecycle Event">Extract Record Lifecycle Event</mat-option>
                            <mat-option value="Link Record Lifecycle Event">Link Record Lifecycle Event</mat-option>
                            <mat-option value="Merge Record Lifecycle Event">Merge Record Lifecycle Event</mat-option>
                            <mat-option value="Originate/Retain Record Lifecycle Event">Originate/Retain Record Lifecycle Event</mat-option>
                            <mat-option value="Pseudonymize Record Lifecycle Event">Pseudonymize Record Lifecycle Event</mat-option>
                            <mat-option value="Re-activate Record Lifecycle Event">Re-activate Record Lifecycle Event</mat-option>
                            <mat-option value="Receive/Retain Record Lifecycle Event">Receive/Retain Record Lifecycle Event</mat-option>
                            <mat-option value="Re-identify Record Lifecycle Event">Re-identify Record Lifecycle Event</mat-option>
                            <mat-option value="Remove Legal Hold Record Lifecycle Event">Remove Legal Hold Record Lifecycle Event</mat-option>
                            <mat-option value="Report (Output) Record Lifecycle Event">Report (Output) Record Lifecycle Event</mat-option>
                            <mat-option value="Restore Record Lifecycle Event">Restore Record Lifecycle Event</mat-option>
                            <mat-option value="Transform/Translate Record Lifecycle Event">Transform/Translate Record Lifecycle Event</mat-option>
                            <mat-option value="Transmit Record Lifecycle Event">Transmit Record Lifecycle Event</mat-option>
                            <mat-option value="Unlink Record Lifecycle Event">Unlink Record Lifecycle Event</mat-option>
                            <mat-option value="Unmerge Record Lifecycle Event">Unmerge Record Lifecycle Event</mat-option>
                            <mat-option value="Verify Record Lifecycle Event">Verify Record Lifecycle Event</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Sub-Type</mat-label>
                        <mat-select formControlName="subtype" matNativeControl required>
                            <mat-option value="Application Start">Application Start</mat-option>
                            <mat-option value="Application Stop">Application Stop</mat-option>
                            <mat-option value="Login">Login</mat-option>
                            <mat-option value="Logout">Logout</mat-option>
                            <mat-option value="Attach">Attach</mat-option>
                            <mat-option value="Detach">Detach</mat-option>
                            <mat-option value="Node Authentication">Node Authentication</mat-option>
                            <mat-option value="Emergency Override Started">Emergency Override Started</mat-option>
                            <mat-option value="Network Configuration">Network Configuration</mat-option>
                            <mat-option value="Security Configuration">Security Configuration</mat-option>
                            <mat-option value="Hardware Configuration">Hardware Configuration</mat-option>
                            <mat-option value="Software Configuration">Software Configuration</mat-option>
                            <mat-option value="Use of Restricted Function">Use of Restricted Function</mat-option>
                            <mat-option value="Audit Recording Stopped">Audit Recording Stopped</mat-option>
                            <mat-option value="Audit Recording Started">Audit Recording Started</mat-option>
                            <mat-option value="Object Security Attributes Changed">Object Security Attributes Changed</mat-option>
                            <mat-option value="Security Roles Changed">Security Roles Changed</mat-option>
                            <mat-option value="User security Attributes Changed">User security Attributes Changed</mat-option>
                            <mat-option value="Emergency Override Stopped">Emergency Override Stopped</mat-option>
                            <mat-option value="Remote Service Operation Started">Remote Service Operation Started</mat-option>
                            <mat-option value="Remote Service Operation Stopped">Remote Service Operation Stopped</mat-option>
                            <mat-option value="Local Service Operation Started">Local Service Operation Started</mat-option>
                            <mat-option value="Local Service Operation Stopped">Local Service Operation Stopped</mat-option>
                            <mat-option value="Read">Read</mat-option>
                            <mat-option value="Version read">Version read</mat-option>
                            <mat-option value="Update">Update</mat-option>
                            <mat-option value="Patch">Patch</mat-option>
                            <mat-option value="Delete">Delete</mat-option>
                            <mat-option value="History">History</mat-option>
                            <mat-option value="History instance">History instance</mat-option>
                            <mat-option value="History type">History type</mat-option>
                            <mat-option value="History system">History system</mat-option>
                            <mat-option value="Create">Create</mat-option>
                            <mat-option value="Search">Search</mat-option>
                            <mat-option value="Search type">Search type</mat-option>
                            <mat-option value="Search system">Search system</mat-option>
                            <mat-option value="Capabilities">Capabilities</mat-option>
                            <mat-option value="Transaction">Transaction</mat-option>
                            <mat-option value="Batch">Batch</mat-option>
                            <mat-option value="Operation">Operation</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Action</mat-label>
                        <mat-select formControlName="action" matNativeControl required>
                            <mat-option value="Create">Create</mat-option>
                            <mat-option value="Read/View/Print">Read/View/Print</mat-option>
                            <mat-option value="Update">Update</mat-option>
                            <mat-option value="Delete">Delete</mat-option>
                            <mat-option value="Execute">Execute</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>Period</mat-label>
                        <mat-date-range-input [rangePicker]="picker1" required>
                          <input matStartDate formControlName="start" placeholder="Start date">
                          <input matEndDate formControlName="end" placeholder="End date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker1></mat-date-range-picker>
                        <mat-error *ngIf="editForm.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                        <mat-error *ngIf="editForm.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                      </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>Recorded</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="recorded" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Outcome</mat-label>
                        <mat-select formControlName="outcome" matNativeControl required>
                            <mat-option value="Success">Success</mat-option>
                            <mat-option value="Minor faliure">Minor faliure</mat-option>
                            <mat-option value="Serious failure">Serious failure</mat-option>
                            <mat-option value="Major failure">Major failure</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Outcome description</mat-label>
                        <input matInput type="text" name="outcome" formControlName="outcomeDesc" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Purpose of event</mat-label>
                        <input matInput type="text" name="purposeOfEvent" formControlName="purposeOfEvent" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Agent</mat-label>
                        <input matInput type="text" name="agent" formControlName="agent" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Source</mat-label>
                        <input matInput type="text" name="source" formControlName="source" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Entity</mat-label>
                        <input matInput type="text" name="entity" formControlName="entity" required>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>

        <mat-card-actions>
            <button type="submit" mat-raised-button color="primary" [disabled]="!editForm.valid">Update</button>
        </mat-card-actions>
    </mat-card>
</form>